<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".CTPlaygroundApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTPlayground">
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="RKW-659-477Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="c56-032" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".VerticalSelectorActivity" />
        <activity android:name=".BazarioHomeActivity" />
        <activity android:name=".ListingActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".ProductActivity" />
    </application>

</manifest>
